.nav{
	background-color: rgb(28,94,169);
	padding-top: 8px;
	padding-bottom: 8px;
}
.nav ul{
	padding: 0px;
}
.nav li {
	display: inline-block;
	padding: 0px;
}

.nav a {
	color: white;
	text-align: center;
	background-color: rgb(28,94,169);
	font-size: 20px;
	padding: 20px;
}

.nav a:hover{
	background-color: rgb(37,122,218);
}

.name {
	background-color: rgb(28,94,169);
	text-align: center;
	padding: 20px;
	color: white;
	font-size: 20px;
}