body{
	background-color: rgb(242,242,242);
}

p{
	font-size: 18px;
	font-style: none;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial !important;
}

.row {
  margin: 0 auto;
  max-width: 75.25rem;
  width: 100%;
}

.header{
	text-align: center;
}

.header h1{
	font-size: 50px;
}
.hoverspace{
	width:100%;
}

.nav{
	background-color: rgb(28,94,169);
	padding-top: 2px;
	padding-bottom: 2px;
	top:0;
	width:100%;
	max-height: 10%
	list-style-type: none;
	position:fixed;
	opacity: 1;
	/* fade the navigation bar and works with multiple browsers */
	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.nav.hide{
	opacity: 0;
}

.nav ul{
	padding: 0px;
	display: inline-block;
}
.nav li {
	display: inline-block;
	padding: 0px;
}

.nav a {
	color: white;
	background-color: rgb(28,94,169);
	font-size: 20px;
	padding:20px;
}

.nav a.link:hover{
	background-color: rgb(37,122,218);
}

.icon:hover{
	background-color: rgb(37,122,218);
}

.links{
	text-align: left;
}
.links li{
	position: relative;
	display: inline-block;
}

.name{
	font-weight: bold;
}

.divider{
	background-color: rgb(28,94,169);
	padding:2px;
}

.project-item h2{
	display:inline-block;
}


.project-item{
	text-align: center;
	border: 1px solid rgb(28,94,169);
}

.project-title{
	text-align: center;
}

